<%= render partial: "layouts/partials/bootstrap_alerts" %>

<h3>Sides</h3>
<br>
<div class="col-md-6">
  <div class="row">
    <div class="col-md-2">
      <!-- New Side Button -->
      <%= link_to new_side_path, class: 'btn btn-md btn-success' do %>
        <i class="fa fa-plus"></i> New Side
      <% end %>
    </div>
  </div>

  <br>
  <!-- Sides Listing -->

  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Tools</th>
      </tr>
    </thead>

    <tbody>
      <% @sides.each do |side| %>
        <tr>
          <td><%= side.name %></td>
          <td>
            <%= link_to 'Show', side, class: 'btn btn-xs btn-success' %>
            <%= link_to 'Edit', edit_side_path(side), class: 'btn btn-xs btn-success' %>
            <%= link_to 'Delete', side, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<br>